amqp
asgiref
bandit
boto3
botocore
celery
certifi
chardet
colorama
crispy-bootstrap5
DateTime
dj-database-url
Django
django-admin-interface
django-admin-tools
django-advanced-filters
django-colorfield
django-crispy-forms
django-debug-toolbar
django-flat-responsive
django-flat-theme
django-heroku
django-mailjet
django-modeladmin-reorder
django-storages
django-summernote
django-taggit
django-taggit-helpers
django-taggit-labels
docutils
gitdb
GitPython
gunicorn
idna
jmespath
pbr
Pillow
psycopg2-binary
python-dateutil
pytz
PyYAML
Redis
requests
s3transfer
six
smmap
sqlparse
stevedore
text-unidecode
urllib3
wheel
whitenoise
zope.interface