<div class="content-section">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #454d55;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'executive_home' %}">Executive</a>
                <button class="navbar-toggler mt-1" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <em class="fa fa-bars"></em>
                </button>
                <div class="navbar-collapse collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item py-0"><a href="{% url 'executive_home' %}" class="nav-link">Home</a></li>
                        <li class="nav-item py-0"><a href="{% url 'executive_quartermaster_database' %}" class="nav-link">Quartermasters Database</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>