{% extends "executive/base.html" %}
{% block content %}
<div class="content-section">
	<div class="media">
		<div class="media-body">
			<legend class="border-bottom mb-2">Quartermasters Database</legend>
			{% if queryset %}
			<table class="inventory_table">
				<thead>
					<th scope="col">Item Name</th>
                    <th scope="col">Item Quantity</th>
					<th scope="col">Category</th>
					<th scope="col">Added On</th>
                    <th scope="col">Updated On</th>
					<th scope="col">Edit Item?</th>
					<th scope="col">Delete Item?</th>
				</thead>
				{% for item in queryset %}
				<tr class="items">
					<td>{{ item.item_name }}</td>
                    <td>{{ item.item_quantity }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.added_on }}</td>
                    <td>{{ item.updated_on }}</td>
                    <td>
						<button type="button" class="btn btn-secondary btn-sm" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
							<a class="button_link" href="{% url 'executive_quartermaster_database_edit' item.slug %}">
								<i class="fa-duotone fa-pen"></i> Update Item
							</a>
						</button>
                    </td>
                    <td>
						<button type="button" class="btn btn-danger btn-sm" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
							<a class="button_link" href="{% url 'executive_quartermaster_database_delete' item.slug %}">
								<i class="fa-duotone fa-trash-can-check"></i> Delete Item
							</a>
						</button>
                    </td>
				</tr>
				{% endfor %}
			</table>
			{% else %}
			<div class="list-group list-group-flush">
				<li class="list-group-item">There are no items in the database at the moment</li>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}