{% extends "main_website/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Article</legend>
                <h3>Are you sure you want to delete the article "{{ object.article_name }}"</h3>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger btn-sm mt-1 mb-1" type="submit">Yes, Delete</button>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'main_website_article_detail' article.slug %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}