{% extends "main_website/base.html" %}
{% block content %}
<div class="content-section">
    <h1>Gallery</h1>
    <div class="row">
        {% for img in queryset %}
        <div class="col-md-6 col-lg-4 col-sm-6">
            <div class="thumbnail">
                <a href="{{ img.image.url }}" class="d-block mb-4 h-100" target="_blank">
                    <img class="img-fluid img-thumbnail" src="{{ img.image.url }}" alt="{{ img.file_name }}">
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}