{% extends "main_website/base.html" %}
{% load static %}
{% block content %}
    <div class="content-section">
        <h1 class="display-4">Help Us!</h1>
        <h4>Did you know that your Scout Group is run completely by volunteers? Is there any way you could help us out yourself?</h3>
		<p>It is really easy to help with 1st Woodhall Scout Group. 
		We have many opportunities for people to get involved, and we can help to tailor a role around your skills and time so that you get just what you would like out of it.</p>
		<p>You may have heard of some groups operating a compulsory parent rota. In some cases, groups have indeed had to make the difficult decision to make parents helping out occasionally a condition of membership. 
		At 1st Woodhall, we really don’t want to go down that route as things stand. 
		It is however something that we may need to consider at some point in the future if the situation demands. 
		If people volunteer to help us, it can be a much more positive experience all round.</p>
		<hr class="my-4">
		<div class="accordion accordion-flush" id="accordionFlush">
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-headingOne">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
						We Currently Need...
					</button>
				</h2>
				<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush">
					<div class="accordion-body">
						<h5 class="bold">Assistant Beaver Scout Leaders</h5>
						<p>Support the operation of the Beaver Colony. In particular, the planning and delivery of the Balanced Programme, with the help of other Leaders and Section Assistants.</p>
						<ul>
							<li>Support the delivery of a safe, exciting and stimulating Balanced Programme for the Beaver Scouts.</li>
							<li>Help to make sure that each Beaver Scout has the opportunity to attend at least one camp or sleepover each year.</li>
							<li>Support and promote the achievement of badges and awards.</li>
						</ul>
						<br>
						<p>
							The only requirements are that you take the appropriate DBS check for working with children, and can provide two references. 
							Training involves 18 'modules'. 
							Many of these can be done online, and they can be spread over 3 years.
						</p>
						<hr class="my-4">
						<h5 class="bold">Assistant Scout Leaders</h5>
						<p>Support the Scout Leader in running the Scout Troop with the help of other ASLs and Section Assistants.</p>
						<ul>
							<li>Support the delivery of a safe, exciting and stimulating Balanced Programme for the Scouts.</li>
							<li>Help to make sure that each Scout has the opportunity to attend at least one camp or sleepover each year.</li>
							<li>Support and promote the achievement of badges and awards.</li>
						</ul>
						<br>
						<p>
							The appointment and training requirements are the same as for ABSLs as described above. 
							The difference is that you would be working with 'teenagers' rather than the younger children found in Beavers.
						</p>
						<hr class="my-4">
						<h5 class="bold">Section Assistants</h5>
						<p>Section Assistants  assist the Leaders and Assistant Leaders in delivering the programme to the young people.</p>
						<ul>
							<li>Running games and activities as part of weekly meetings and other events.</li>
							<li>Assisting young people to achieve badges and awards.</li>
							<li>Assisting with camps and sleepovers.</li>
							<li>Assisting the Leaders to provide a varied, exciting and safe programme of activities.</li>
						</ul>
						<br>
						<p>
							The only requirements are that you take the appropriate DBS check for working with children, and can provide two references. 
							Training involves 3 'modules'. 
							2 of these can be done online, and they can be spread over 6 months.
						</p>        
						<hr class="my-4">
						<h5 class="bold">Group Executive - Secretary</h5>
						<p>
							The Secretary sits on the Group Executive Committee. 
							This is a separate group of adults from the Leaders. 
							They are responsible for the overall operation of the group and ensuring that we remain financially viable. 
							The Secretary will attend committee meetings, and will be responsible for correspondence and record keeping at Group level.
						</p>
						<hr class="my-4">
						<h5 class="bold">Group Executive - Parent Representative</h5>
						<p>
							Parent Representatives also sit on the Executive Committee, and provide a link between the Committee and the young people. 
							Representatives liaise with young people and their Leaders so that they may be properly represented at the Committee, before reporting back.
						</p>
						<hr class="my-4">
						<h5 class="bold">Occasional Helpers</h5>
						<p>
							An Occasional Helper is someone who is able to volunteer a little of their time now and again to help with the running of meetings and events. 
							This is a much more casual position, and Occasional Helpers are not actually members of The Scout Association. 
							They are really useful to have available though, and often make the difference as to whether a meeting or event can run or not. 
							Especially when we are out and about, we need to maintain certain ratios of adults to children, so the role of an Occasional Helper can indeed be a vital one. 
							The only requirements are that you take the appropriate DBS check for working with children. 
							No references or appointment is involved. No training is required. 
							Please note that if you dont see any roles to interest you here, we would still love to hear from you. 
							Please come and speak to one of us! 
							Click here for a role comparison or click here for some more frequently asked questions. 
							Please note that when the role comparison table talks about a membership fee, this is paid by the group. 
							It does not cost a penny to volunteer with us!
						</p>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-headingTwo">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
						What will I get out of this?
					</button>
				</h2>
				<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlush">
					<div class="accordion-body">
						<h5 class="bold">Assistant Beaver Scout Leader</h5>
						<p>
							I decided to help the Beaver Colony shortly after my Son joined. 
							I saw how much he enjoyed it, and wanted to help him get as much out of it as possible. 
							Having talked it over with a few people, I realised that I could help ALL the Beavers to do this, not just my Son. 
							Originally, I was planning to be an Occasional Helper, but decided go for a Section Assistant because I really wanted to be a part of the team. 
							I met with the GSL, and it became clear that the role of Assistant Beaver Leader was a good one for me. 
							I was expecting the DBS check and appointments process to feel intrusive, but it really didn’t. 
							I was made to feel really welcome in the Colony and found myself working with the Beavers pretty much immediately. 
							The getting started training was not too demanding at all, and before I knew it I had my full appointment. 
							Over the last 3 years I have met lots of new people, helped at sleepovers, taken Beavers on trips, planned and run meetings, shared my skills with adults and Beavers alike, learned new skills, been to all sorts of new places and most importantly loved every minute of it. 
							In particular, my confidence and organisational skills have rocketed! 
							I also feel like part of something big and exciting, a sense of belonging if you will. 
							There have been many opportunities that I would not have had otherwise, and there will be many more in the future. 
							My Son has now moved on to Cubs, but personally I am with Beavers for the long haul! 
							If anyone is considering volunteering to help Scouting in any way at all, I would urge them to just go for it. 
							I have never regretted it, and I bet you wont either!
						</p>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-headingThree">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
						Frequently Asked Questions (FAQs)
					</button>
				</h2>
				<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlush">
					<div class="accordion-body">
						<h5 class="bold">Do you need me?</h5>
						<p>
							In short, YES! 
							We have a great volunteer team here at 1st Woodhall, but we are always on the lookout for more adults. 
							We have many opportunities to get involved, and generally speaking the more adults we have the more young people we can have involved.
						</p>
						<h5 class="bold">But I’m not like Bear Grylls</h5>
						<p>
							Neither are we! 
							There is a myth that you have to be a serious outdoors fanatic to be involved with Scouting. 
							This could not be further from the truth. 
							While we like getting out and about and having adventures, our adults come from all walks of like. 
							We are your 'average Joe', and I think it fair to say that none of us could be called born survivors!
						</p>
						<h5 class="bold">I don't have much spare time</h5>
						<p>
							There is quite a lot of things that need to be done to keep the group running, but you dont have to do it all yourself, or every week. 
							Most of the roles we can offer are flexible in that you can volunteer only the time that you can spare. 
							For example, our Cub leadership team got their heads together to plan the rough theme of each week for the term. 
							The individual Leaders then took it in turns to plan the details and run the meetings. 
							The more of us there are, the more we can do in less time!
						</p>
						<h5 class="bold">Do I have to do training?</h5>
						<p>
							If you volunteer as an Assistant Leader or Section Assistant, there is a need to do some training. 
							However, this is not difficult or arduous, and there is a huge amount of support available. 
							Many people find that this helps them to discover new skills that are useful in their family or working life.
						</p>
						<h5 class="bold">What if I don't want to work with children?</h5>
						<p>
							Not a problem. 
							There are lots of other ways to volunteer, from helping to keep our records up to date, to occasionally checking that our equipment is complete and in good order. 
							Why not speak to one of us to find a way that you can help?
						</p>
					</div>
				</div>
			</div>
			<hr class="my-4">
			<a onclick="scroll_to_top()" id="back_to_top" class="btn btn-custom-purple btn-sm mt-1 mb-1">
				<i class="fa-duotone fa-angles-up"></i> Back to top of page
			</a>
			<script src="{% static 'main_website/js/back_to_top.js' %}"></script>
		</div>
    </div>
{% endblock content %}