{% extends "main_website/base.html" %}
{% block content %}
    <div class="content-section">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">Hello and welcome to the 1st Woodhall Scout Group website</p>
        <p>1st Woodhall Scouts is located at <a href="https://www.google.com/maps/place/1st+Woodhall+Scout+Group+Beavers/@53.789575,-1.670506,19z/data=!4m5!3m4!1s0x0:0x58991ed1eb5aeeca!8m2!3d53.7895675!4d-1.6702323?hl=en-US" target="_blank">1st Pudsey (Parish Church) Group Headquarters, Greenside, Pudsey, LS28 8LP</a> and has been established since 1957</p>
        <p>Scouting is a world wide value based institution. 1st Woodhall is an active and friendly group and welcome boys and girls from all backgrounds and all religious beliefs to make new friends, get outdoors, learn exciting skills and most importantly have fun!</p>
        <p>If you want to find out more, please browse our section pages,  get in touch via the contact us page or find us at 1st Pudsey (Parish Church) Group Headquarters at the following times (during term time):</p>
        <table class="meeting_table">
            <thead>
            <tr>
                <th>Section</th>
                <th>Ages</th>
                <th>Meeting Day</th>
                <th>Meeting Time</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Beavers</td>
                <td>6 to 8 years old</td>
                <td>Friday</td>
                <td>17:30 - 18:30</td>
            </tr>
            <tr>
                <td>Cubs</td>
                <td>8 to 11 years old</td>
                <td>Thursday</td>
                <td>18:30 - 20:00</td>
            </tr>
            <tr>
                <td>Scouts</td>
                <td>10 1/2 to 14 years old</td>
                <td>Friday</td>
                <td>19:00 - 21:00</td>
            </tr>
            </tbody>
        </table>
        <hr class="my-4">
        <h3>Want to join the Group?</h3>
        <p>Click this button to Register for our waiting list</p>
        <a class="btn btn-custom-purple" href="{% url 'main_website_waiting_list_register' %}" role="button"><i class="fa-duotone fa-user-plus"></i> Register</a>
    </div>
{% endblock content %}