{% block content %}
<div class="content-section">
    <div class="card">
        <div class="card-header">
            Image Categories
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="{% url 'main_website_gallery' %}">All</a>
            </li>
            {% for category in categories %}
            <li class="list-group-item">
                <a href="{% url 'main_website_gallery' %}?category={{ category.name }}">
                    {{ category.name }}
                </a>
            </li>
            {% endfor %}            
        </ul>
    </div>
</div>
{% endblock content %}