{% extends "main_website/base.html" %}
{% block content %}
<div class="content-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <img class="img-fluid rounded" src="{{ images.image.url }}">
            </div>
        </div>
    </div>
</div>
<div class="content-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h4>Image Information</h4>
                <hr class="my-6">
                <p>Date Uploaded: {{ images.date_time_stamp }}</p>
                <p>Image Description: {{ images.description }}</p>
                <hr class="my-6">
                <button class="btn btn-outline-info my-3">
                    <a class="button_link" href="{% url 'main_website_gallery' %}">Go Back to Gallery</a>
                </button>               
            </div>
        </div>
    </div>
</div>
{% endblock content %}