{% extends 'main_website/base.html' %} 
{% load crispy_forms_tags %}
{% block content %}
<article class="content-section">
	<div class="media-body">
		<div class="article-metadata">
			<h1 class="card-title">{% block title %} {{ article.article_name }} {% endblock title %}</h1>
			<img class="rounded-circle article-img" src="{{ user.profile.image.url }}">
			<small class="card-text text-muted h6">By: <a class="mr-2">{{ article.author.get_full_name }}</a> on {{ article.date_posted }}</small>
			{% for tag in article.tags.all %}
				<a href="{% url 'main_website_article_tags' tag.slug %}" class="mr-1 badge badge-pill badge-info">{{ tag }}</a>
			{% endfor %}
			<hr class="my-4">
			<p class="card-text">{{ article.content | safe | slice:":200" }}</p>
        </div>
    </div>
	{% if article.author == user %}
	<div>
		<button class="btn btn-secondary btn-sm mt-1 mb-1">
			<a class="button_link" href="{% url 'main_website_article_update' article.slug %}"><i class="fa-duotone fa-pen"></i> Update Article</a>
		</button>
		<button class="btn btn-danger btn-sm mt-1 mb-1">
			<a class="button_link" href="{% url 'main_website_article_delete' article.slug %}"><i class="fa-duotone fa-trash"></i> Delete Article</a>
		</button>
	</div>
	{% endif %}
</article>
{% endblock content %}