{% extends 'main_website/base.html' %} 
{% load crispy_forms_tags %}
<!--{% load app_tags %}-->
{% block content %}
<article class="content-section">
	<div class="media-body">
		<div class="article-metadata">
			<h1 class="card-title">{% block title %} {{ article.article_name }} {% endblock title %}</h1>
			<img class="rounded-circle article-img" src="{{ user.profile.image.url }}">
			<!--<img class="rounded-circle account-img-grav" src="{{ user | gravatar:55 }}">-->
			<small class="card-text text-muted h6">By: <a class="mr-2">{{ article.author.get_full_name }}</a>on {{ article.date_posted }}</small>
			{% for tag in article.tags.all %}
				<a href="{% url 'main_website_article_tags' tag.slug %}" class="mr-1 badge badge-pill badge-info">{{ tag }}</a>
			{% endfor %}
			<hr class="my-4">
			<p class="card-text">{{ article.content | safe | slice:":200" }}</p>
        </div>
    </div>
	{% if article.author == user %}
	<div>
		<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'main_website_article_update' article.slug %}">Update Article</a>
		<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'main_website_article_delete' article.slug %}">Delete Article</a>
	</div>
	{% endif %}
</article>
{% endblock content %}