{% extends "main_website/base.html" %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
      <div class="article-metadata" style="margin-bottom: 55px !important; margin-top: -10px;">
          <legend class="border-bottom mb-2 h2" style="padding-top: 14px;">{% if tag %} Articles tagged with <span class="mr-1 badge badge-pill badge-info">{{ tag.name }}</span>{% endif %}</legend>
      </div>
  </div>
</article>
{% for article in articles %}
<article class="media content-section">
	<div class="media-body">
    	<div class="article-metadata">
      		<h2 class="card-title">{{ article.article_name }}</h2>
      		<img class="rounded-circle article-img" src="{{ article.author.profile.image.url }}"></img>
      			<small class="card-text text-muted h6">By: {{ article.author }} on {{ article.date_posted }} |</small>
      			{% for tag in article.tags.all %}
        			<a href="{% url 'main_website_article_tags' tag.slug %}" class="mr-1 badge badge-pill badge-info">{{ tag }}</a>
      			{% endfor %}
      		<hr class="my-4">
      		<p class="card-text">{{ article.content | safe | slice:":200" }}</p>
    	</div>
		<button class="btn btn-outline-info">
			<a class="button_link" href="{% url 'main_website_article_detail' article.slug  %}"><i class="fa-duotone fa-book-open-reader"></i> Read More</a>
		</button>   	
  	</div>
</article>
{% endfor %}
{% endblock content %}