{% block content %}
<div class="content-section">
    <form action="{% url 'main_website_search' %}" class="form-inline my-2 my-lg-0" id="searchar" autocomplete="off">
        <input class="form-control mr-sm-2" type="search" placeholder="Search..." name="search">
        <button id="search" class="btn btn-outline-info my-2 my-sm-0"><span class='fas fa-search'></span> Search</button>
    </form>
    {% if user.is_superuser or user.is_staff %}
    <hr class="my-2">
    <div class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'main_website_gallery_upload' %}">Upload Images to Gallery</a></li>
        <li class="list-group-item"><a href="{% url 'main_website_gallery_add_category' %}">Add Image Category</a></li>
    </div>
    {% endif %}
</div>
{% endblock content %} 