{% block content %}
<div class="content-section">
    <div class="list-group list-group-flush">
        <h2>Useful Links</h2>
        <li class="list-group-item"><a href="https://www.scouts.org.uk/">The Scout Association</a></li>
        <li class="list-group-item"><a href="https://www.cycscouts.org.uk/">Central Yorkshire County Scouts</a></li>
        <li class="list-group-item"><a href="https://westleedsscouts.com/">West Leeds District Website</a></li>
        <li class="list-group-item"><a href="https://westleedsscouts.com/shop/">West Leeds Scout Shop</a></li>
    </div>
</div>
{% endblock content %}