{% block content %}
<div class="content-section">
    <div class="list-group list-group-flush">
        <h2>Useful Links</h2>
        <li class="list-group-item"><a href="https://www.scouts.org.uk/" target="_blank">The Scout Association</a></li>
        <li class="list-group-item"><a href="https://www.cycscouts.org.uk/" target="_blank">Central Yorkshire County Scouts</a></li>
        <li class="list-group-item"><a href="https://westleedsscouts.com/" target="_blank">West Leeds District Website</a></li>
        <li class="list-group-item"><a href="https://westleedsscouts.com/shop/" target="_blank">West Leeds Scout Shop</a></li>
    </div>
</div>
{% endblock content %}