{% extends "cubs/base.html" %}
{% load static %}
{% block content %}
    <div class="content-section">
        <center><img class="cub_logo" src="{% static 'cubs/img/cubs_transparent_2.png' %}" alt="Cub Logo"></center>
        <br>
        <hr class="my-2">
        <h1 class="display-4">About Us!</h1>
        <h5>Please note that we have had a lot of success as a Pack recently. This has led to a period of Growth. As a result of this, we now need to operate a waiting list for places. Please <a href="{% url 'main_website_contact_us' %}" target="_blank">contact</a> the Cub Leader team for more information.</h5>
        <p>Wolf cubs, as they were originally called, use Jungle Book as their theme. The group is organised into Sixes, with each six assigned a different colour woggle. Cubs are aged eight to ten and a half years. Cubs wear a dark green sweatshirt or Polo shirt with the cub logo at the bottom left hand side.</p>
        <p>Cubs do a variety of activities including camping outside, many for the first time ever, this is an exciting prospect for a young eight year old. Other activities include playing games, working towards badges for joining in, recognition or activities. The highest badge a cub can get is the Chief Scout's Silver award, which is earned by completing several activities including cooking outdoors, again many young cubs will be doing this for the first time.</p>
        <p>The cost of attending Cubs is £2 per week (the first 4 weeks are free) and once invested Cub uniforms can be purchased from West Leeds Scout Shop (our necker is black with a white border).</p>
        1st Woodhall Cubs is led by Baloo, and assisted by Akela, Raksha, Kaa, Ziggy and Dizzy. We have a large group of Cubs but always welcome new youths into the scout movement. If you are interested in your child joining cubs, either contact us or come along to our HQ on Thursday evening 7:00pm to 8:30pm.
        <br><br>
        <table class="meeting_table">
          <thead>
          <tr>
              <th>Section</th>
              <th>Meeting Day</th>
              <th>Meeting Time</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td>Cubs</td>
              <td>Thursday</td>
              <td>7:00pm – 8:30pm</td>
          </tr>
          </tbody>
      </table>
      <hr class="my-4">
      <h3>Want to join our Pack?</h3>
      <p>Click this button to Register for our waiting list</p>
      <a class="btn btn-outline-info" href="{% url 'main_website_waiting_list_register' %}" role="button">Register</a>
      </div>
{% endblock content %}