{% extends "cubs/base.html" %}
{% load static %}
{% block content %}
<div class="content-section">
    <legend class="border-bottom h1 mb-4">Uniform and Badge Placement</legend>
    <h3>What do Cubs wear?</h3>
    <p>Cub uniform consists of a green sweatshirt with your badges sewn on and a coloured scarf or 'necker' to represent your local group. There are lots of other optional accessories you can wear such as hats, hoodies, navy blue trousers or shorts.</p>
    <h3>Why is uniform important?</h3>
    <p>Wearing a uniform is comfy and practical. It means no one feels uncomfortable or left out and helps everyone feel part of the Pack. It also gives you a place to show off all the badges you earn.</p>
    <h3>Where to buy your uniform</h3>
    <p>You can buy your uniform from <a href="https://westleedsscouts.com/shop/" target="_blank">West Leeds Scout Shop</a></p>
    <h3>Here's where to sew your badges...</h3>
    <br>
    <center><img class="cub_badge_placement" src="{% static 'cubs/img/cubs_badge_placement.jpeg' %}" alt="Cub Badge Placement"></center>
</div>
{% endblock %}