{% extends "cubs/base.html" %}
{% block content %}
<div class="content-section">
	<div class="media">
		<div class="media-body">
			<legend class="border-bottom mb-2">Downloads</legend>
			{% if file_collection is defined %}
			<table class="download_table">
				<thead>
					<th scope="col">Name</th>
					<th scope="col">Description</th>
					<th scope="col">Download Link</th>
				</thead>
				{% for file_item in file_collection %}
				<tr>
					<td>{{ file_item.name }}</td>
					<td>{{ file_item.description }}</td>
					<td><a class="btn btn-outline-info btn-sm" href="{{ file_item.file.url }}" target="_blank" role="button">Download</a></td>
				</tr>
				{% endfor %}
			</table>
			{% else %}
			<div class="list-group list-group-flush">
				<li class="list-group-item">There are no files to download at the moment</li>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}