{% extends "cubs/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <h2>Are you sure you want to delete the post "{{ object.title }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger btn-sm" type="submit"><i class="fa-duotone fa-trash"></i> Yes, Delete</button>
                <button class="btn btn-secondary btn-sm">
                    <a class="button_link" href="{% url 'cubs_blog_post_detail' post.slug %}"><i class="fa-duotone fa-ban"></i> Cancel</a>
                </button>
            </div>
        </form>
    </div>
{% endblock content %}