{% extends "cubs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form.media }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Blog Post</legend>
            {{ form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-custom-green" type="submit">
                <i class="fa-duotone fa-mailbox"></i> Post
            </button>
        </div>
    </form>
</div>
{% endblock content %}