{% block content %}
<div class="content-section">
    <form action="{% url 'cubs_blog_search' %}" class="form-inline my-2 my-lg-0" id="searchar" autocomplete="off">
        <input class="form-control mr-sm-2" type="search" placeholder="Search..." name="search">
        <button id="cubs_search" class="btn btn-custom-green my-2 my-sm-0"><i class="fa-duotone fa-magnifying-glass"></i> Search</button>
    </form>
    <hr class="my-2">
    <div class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'cubs_blog_downloads' %}">Download Files</a></li>
    </div>
    <div class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'cubs_blog_badge_placement' %}">Uniform and Badge Placement</a></li>
    </div>
</div>
{% endblock content %}