{% extends "main_website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <title>1st Woodhall Cubs Blog | Login</title>
    <div class="content-section">
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    <i class="fa-duotone fa-arrow-right-to-bracket"></i> Login
                </button>
            </div>
        </form>
        <br>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account? 
                <button class="btn btn-sm btn-outline-info">
                    <a class="button_link" href="{% url 'register' %}" role="button"><i class="fa-duotone fa-user-plus"></i> Register</a>
                </button>
            </small>
            <br> 
            <br>
            <small class="text-muted">
                Forgotten Your Password?
                <button class="btn btn-sm btn-outline-info">
                    <a class="button_link" href="{% url 'password_reset' %}" role="button"><i class="fa-duotone fa-arrows-rotate"></i> Reset Your Password Here</a>
                </button>
            </small>
        </div>
    </div>
{% endblock content %}