<html style="background-color: #7414dc;">
    {% autoescape off %}
    You're receiving this e-mail because you requested a password reset for your user account at 1st Woodhall Scout Group

    Please go to the following page and choose a new password:
    {% block reset_link %}
    {{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
    {% endblock %}

    Your username, in case you've forgotten: {{ user.username }}

    Thanks for using our website!

    The 1st Woodhall Scout Group team

    {% endautoescape %}
</html>