{% autoescape off %}
Hello,

You are receiving this e-mail because you requested a password reset for your user account at 1st Woodhall Scout Group. To initiate the password reset process for your account, click the link below.

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.username }}

This link can only be used once. If you need to reset your password again, please visit {{ protocol }}://{{ domain }} and request another reset.

If you did not make this request, you can simply ignore this email.

Thank you for using our website!
The 1st Woodhall Scout Group Leadership Team

{% endautoescape %}