{% extends "main_website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
	<div class="media">
		<div class="profile-details-wrapper">
			<img class="rounded-circle profile-picture" src="{{ user.profile.image.url }}">
			<div class="profile-details">
				<div class="media-body">
					<h2 class="account-heading">{{ user.username }}</h2>
					<h5 class="text-secondary">{{ user.email }}</h5>
					{% if user.is_superuser or user.is_staff %}
						<a href="{% url 'admin:index' %}" class="btn btn-outline-info my-1" role="button" aria-pressed="true">Administrators Dashboard</a>
					{% if user.section == 'Beavers' %}
						<a href="{% url 'beavers_blog_post_create' %}" class="btn btn-outline-info my-1" role="button" aria-pressed="true">Create Beavers Blog Post</a>
						<a href="{% url 'beavers_blog_file_upload' %}" class="btn btn-outline-info my-1" role="button" aria-pressed="true">Upload Files</a>
					{% endif %}
					{% if user.section == 'Cubs' %}
						<a href="{% url 'cubs_blog_post_create' %}" class="btn btn-outline-info my-1" role="button" aria-pressed="true">Create Cubs Blog Post</a>
						<a href="{% url 'cubs_blog_file_upload' %}" class="btn btn-outline-info my-1" role="button" aria-pressed="true">Upload Files</a>
					{% endif %}
					{% if user.section == 'Scouts' %}
						<a href="{% url 'scouts_blog_post_create' %}" class="btn btn-outline-info my-1" role="button" aria-pressed="true">Create Scouts Blog Post</a>
						<a href="{% url 'scouts_blog_file_upload' %}" class="btn btn-outline-info my-1" role="button" aria-pressed="true">Upload Files</a>
					{% endif %}
						<a href="{% url 'main_website_article_create' %}" class="btn btn-outline-info my-1" role="button" aria-pressed="true">Create News Article</a>
						<a href="https://www.onlinescoutmanager.co.uk/login.php" class="btn btn-outline-info my-1" role="button" aria-pressed="true">OSM</a>
					{% endif %}
					{% if user.is_superuser or user.is_executive %}
						<a href="{% url 'executive_home' %}" class="btn btn-outline-info my-1" role="button" aria-pressed="true">Executive Page</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<hr class="my-2">
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="">Profile Information</legend>
			{{ user_form | crispy }}
			{{ profile_form | crispy }}
		</fieldset>	
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Update</button>
		</div>
	</form>
</div>
{% endblock content %}