{% extends "main_website/base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block content %}
    <div class="content-section">
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register</legend>
                {% crispy form %}
            </fieldset>
            <div class="form-group">
            </div>
        </form>
        <br>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an Account? 
                <button class="btn btn-sm btn-outline-info">
                    <a class="button_link" href="{% url 'login' %}" role="button"><i class="fa-duotone fa-arrow-right-to-bracket"></i> Login</a>
                </button>
            </small>
        </div>

    </div>
{% endblock content %}
