@font-face {
    font-family: 'Product Sans Regular' !important;
    font-style: normal !important;
    font-weight: normal !important;
    src: local('Product Sans Regular'),
      url('fonts/ProductSans-Regular.woff') format('woff');
}

@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
    font-family: "Product Sans Regular", sans-serif;
}

#calendar_only {
    width: 1250px !important;
    font-size: 15px;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    margin: 0 auto;
    height: 60px !important;
    padding: 1rem 1.25rem;
}

.calendar-section {
    background: #383838;
    padding: 10px 20px;
    border: 1px solid #383838;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 1250px !important;
}

.calendar {
    background-color: #454d55;
    border-radius: 0.25rem;
    overflow: hidden;
    width: 100%;
    margin: auto;
    font-size: 13px;
}
  
.calendar tr, .calendar td {
    border: 2px solid #7414dc;
}
  
.calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
  
.calendar td {
    width: 200px;
    height: 125px;
    padding: 20px 0px 0px 5px;
}
  
.month {
    font-size: 25px;
}
  
.date {
    font-size: 16px;
}
  
ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
}
  
a {
    color: #fff;
}

.left {
    float: left;
}
  
.right {
    float: right;
}

.footer-container {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 0;
    background-color: #7414dc;
}