{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | 1st Woodhall Scout Group Admin Dashboard{% endblock %}
{% block extrastyle %}
    <!-- Custom CSS File -->
    <link rel="stylesheet" type="text/css" href="{% static 'main_website/css/admin_jet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main_website/css/summernote.css' %}">
    <!-- Shortcut Icon -->
    <link rel="shortcut icon" href="{% static 'main_website/img/favicon.png' %}">
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">1st Woodhall Scout Group Administrators Dashboard</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}