{% load static %}
<!DOCTYPE html>
<html>
    <head>
    	<!-- Required meta tags -->
    	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Shortcut Icon -->
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'main_website/img/favicon.png' %}">
		<!-- FontAwesome Logos -->
        <link rel="stylesheet" type="text/css" href="{% static 'main_website/icons/fontawesome/css/all.min.css' %}">
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'main_website/css/bootstrap/bootstrap.min.css' %}">
        <!-- Custom CSS Files -->
        {% if user.theme == 'Dark' %}
		<link rel="stylesheet" type="text/css" href="{% static 'main_website/css/main_dark.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main_website/css/calendar_dark.css' %}">
        {% elif user.theme == 'Light' %}
        <link rel="stylesheet" type="text/css" href="{% static 'main_website/css/main_light.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main_website/css/calendar_light.css' %}">
        {% endif %}
		{% if title %}
			<title>1st Woodhall Scout Group | {{ title }}</title>
		{% else %}
			<title>1st Woodhall Scout Group</title>
		{% endif %}
	</head>
    <body>
        <!-- Nav class creates a navbar -->
        {% if user.theme == 'Dark' %}
        <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
        {% elif user.theme == 'Light' %}
        <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
        {% else %}
        <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
        {% endif %}
            <div class="container-fluid">
                <img src="{% static 'main_website/img/scout_logo_alt.png' %}" id="logo" alt="Logo" style="border-radius: 50%; margin-right: 5px;">
                <a class="navbar-brand" href="{% url 'main_website_home' %}"> 1st Woodhall Scout Group</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="navbar-toggler-icon"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main_website_home' %}"><i class="fa-duotone fa-house-chimney" style="--fa-secondary-opacity: 1.0; --fa-primary-color: #C0C2C9; --fa-secondary-color: #AA4A44;"></i> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main_website_about' %}"><i class="fa-duotone fa-circle-info" style="--fa-secondary-opacity: 1.0; --fa-primary-color: #FFFFFF; --fa-secondary-color: #7414dc;"></i> About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main_website_calendar' %}"><i class="fa-duotone fa-calendar-days" style="--fa-secondary-opacity: 1.0; --fa-primary-color: #FFFFFF; --fa-secondary-color: #7414dc;"></i> Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main_website_help_us' %}"><i class="fa-duotone fa-handshake-angle" style="--fa-secondary-opacity: 1.0; --fa-primary-color: #F2CCB7; --fa-secondary-color: #D19477;"></i> Help Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main_website_ways_to_donate' %}"> <i class="fa-duotone fa-money-bill-1-wave" style="--fa-secondary-opacity: 1.0; --fa-primary-color: #A7D066; --fa-secondary-color: #42AB46;"></i> Donate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'gallery' %}"><i class="fa-duotone fa-images" style="--fa-secondary-opacity: 1.0; --fa-primary-color: lightblue; --fa-secondary-color: grey;"></i> Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'main_website_contact_us' %}"><i class="fa-duotone fa-address-card" style="--fa-secondary-opacity: 1.0; --fa-primary-color: red; --fa-secondary-color: grey;"></i> Contact Us</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        {% if user.section == 'Beavers' or user.second_section == 'Beavers' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'beavers_blog_home' %}"><i class="fa-duotone fa-blog" style="--fa-secondary-opacity: 1.0; --fa-primary-color: #006ddf; --fa-secondary-color: #006ddf;"></i> Beavers Blog</a>
                        </li>
                        {% endif %}
                        {% if user.section == 'Cubs' or user.second_section == 'Cubs' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cubs_blog_home' %}"><i class="fa-duotone fa-blog" style="--fa-secondary-opacity: 1.0; --fa-primary-color: #009a44; --fa-secondary-color: #009a44;"></i> Cubs Blog</a>
                        </li>
                        {% endif %}
                        {% if user.section == 'Scouts' or user.second_section == 'Scouts' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'scouts_blog_home' %}"><i class="fa-duotone fa-blog" style="--fa-secondary-opacity: 1.0; --fa-primary-color: #004851; --fa-secondary-color: #004851;"></i> Scouts Blog</a>
                        </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}"><i class="fa-duotone fa-user-check" style="--fa-secondary-opacity: 1.0; --fa-primary-color: #FFFFFF; --fa-secondary-color: grey;"></i> Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}"><i class="fa-duotone fa-arrow-right-from-bracket" style="--fa-secondary-opacity: 1.0; --fa-primary-color: #FFFFFF; --fa-secondary-color: grey;"></i> Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}"><i class="fa-duotone fa-arrow-right-to-bracket" style="--fa-secondary-opacity: 1.0; --fa-primary-color: #FFFFFF; --fa-secondary-color: grey;"></i> Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}"><i class="fa-duotone fa-user-plus" style="--fa-secondary-opacity: 1.0; --fa-primary-color: #FFFFFF; --fa-secondary-color: grey;"></i> Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-8">
                    {% if messages %}
                    {% for message in messages %}
                        <div id="calendar_only" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                    {% endif %}
                    {% block content %}{% endblock %}                   
                </div>
            </div>
        </main>
        <!-- Optional JavaScript -->
        <!-- JavaScript Bundle with Popper.js -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <!-- Custom JavaScript -->
        <script src="{% static 'main_website/js/icon_by_date.js' %}"></script>
    </body>
</html>