{% extends "calendar/base.html" %}
{% block content %}
<div class="calendar-section">
    <div class="clearfix">
        <button class="btn btn-custom-purple left">
            <a class="button_link" href="{% url 'main_website_calendar' %}?{{ prev_month }}">
                <i class="fa-duotone fa-angles-left"></i> Previous Month
            </a>
        </button>
        <button class="btn btn-custom-purple left">
            <a class="button_link" href="{% url 'main_website_calendar' %}?{{ next_month }}">
                <i class="fa-duotone fa-angles-left"></i> Previous Month
            </a>
        </button>
        <button class="btn btn-custom-purple right">
            <i class="fa-duotone fa-calendar-plus"></i>
            <a class="button_link" href="{% url 'main_website_calendar_new_event' %}">New Event</a>
        </button>
    </div>
    <br>
    {{ calendar }}  
</div>
{% endblock %}