{% block content %}
<div class="content-section">
    <div class="list-group list-group-flush">
        <h2>Post Archive</h2>
        {% regroup beavers_all_posts by date_posted.year as year_list %}
        <ul>
        {% for year in year_list %}
            <li>{{ year.grouper }}
                {% regroup year.list by date_posted.month as month_list %}
                <ul>
                {% for month in month_list %}
                    <li><a href="{% url 'beavers_blog_post_archive_month' year.grouper month.grouper %}">{{ month.list.0.date_posted|date:'M' }} ({{ month.list|length }})</a></li>
                {% endfor %}
                </ul>
            </li>
        </ul>
        {% empty %}
        <div class="list-group-item rounded-sm">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">There are no posts at the moment!</h6>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}