{% extends 'beavers/base.html' %} 
{% load crispy_forms_tags %}
{% block content %}
<article class="media content-section">
	<div class="media-body">
		<div class="article-metadata">
			<h1 class="card-title">{% block title %} {{ post.title }} {% endblock title %}</h1>
			<img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
			<small class="card-text text-muted h6">By: <a class="mr-2" href="{% url 'beavers_blog_user_posts' post.author.username %}">{{ post.author.get_full_name }}</a> on {{ post.date_posted }}</small>
			<!--
			{% for tag in post.tags.all %}
				<a href="{% url 'post-tags' tag.slug %}" class="mr-1 badge badge-pill badge-info">{{ tag }}</a>
			{% endfor %}
			-->
			<br>
			<p class="card-text">{{ post.content | safe | slice:":200" }}</p>
			<!--<img src="{{ img.image.url }}" alt="{{ post.title }}" width="200" height="300">-->
			<div class="container">	
				<div class="row text-center text-lg-left">
				{% for img in post.beavers_blog_post_images.all %}
				<div class="col-lg-3 col-md-4 col-6">
					<a href="{{ img.image.url }}" class="d-block mb-4 h-100">
						<img class="img-fluid img-thumbnail" src="{{ img.image.url }}" alt="{{ post.title }}" target="_blank">
					</a>
				</div>
				{% endfor %}
				</div>
			</div>
			<hr class="my-4">
			{% if post.author == user %}
			<div class="crud-buttons" style="float: right;">
				<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'cubs_blog_post_update' post.slug %}">Update Post</a>
				<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'cubs_blog_post_delete' post.slug %}">Delete Post</a>
			</div>
			{% endif %}
			<div class="social-buttons" style="float: left;">
				<a type="button" class="btn btn-outline-info btn-sm mt-1 mb-1 position-relative">
					Like Post
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">0</span>
				</a>
			</div>
			<div style="clear: both;"></div>
		</div>
	</div>
</article>
<article class="media content-section">
	{% if comments.count == 1 %}
	<h2>{{ comments.count }} Comment</h2>
	{% else %}
	<h2>{{ comments.count }} Comments</h2>
	{% endif %}
	<hr class="my-2">
	{% for comment in comments %}
	<div class="comments list-group">
		<div class="list-group-item">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="mb-1">{{ comment.name }}</h5>
				<small>{{ comment.date_posted }}</small>
		  	</div>
			<hr class="my-1">
		  	{{ comment.comment | linebreaks }}
		</div>
	</div>
	{% endfor %}
</article>
<article class="media content-section">
	<div class="media-body">
		<div class="article-metadata">
			<div class="card-body">
				<h3>Please Leave a Comment</h3>
				<form method="post" style="margin-top: 1.3em;">
					{{ comment_form | crispy }}
					{% csrf_token %}
					<button type="submit" class="btn btn-outline-info btn-me">Submit</button>
				</form>
			</div>
		</div>
	</div>
</article>
{% endblock content %}