{% block content %}
<div class="content-section">
    <form action="{% url 'main_website_search' %}" class="form-inline my-2 my-lg-0" id="searchar" autocomplete="off"></form>
        <div class="input-group mb-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Search..." name="search">
            <div class="input-group-append">
                <button id="beavers_search" class="btn btn-custom-purple my-2 my-sm-0"><i class="fa-duotone fa-magnifying-glass"></i> Search</button>
            </div>
        </div>
    </form>
    {% if user.is_superuser or user.is_staff %}
    <hr class="my-2">
    <div class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'beavers_blog_post_create' %}">Create Beavers Blog Post</a></li>
    </div>
    <div class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'beavers_blog_file_upload' %}">Upload Files for Beavers</a></li>
    </div>
    {% endif %}
    <hr class="my-2">
    <div class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'beavers_blog_downloads' %}">Download Files</a></li>
    </div>
    <div class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'beavers_blog_badge_placement' %}">Uniform and Badge Placement</a></li>
    </div>
</div>
{% endblock content %}