{% extends "beavers/base.html" %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    </div>
  </div>
</article>
{% for post in post_list %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
            <h2 class="card-title">{{ post.title }}</h2>
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <small class="card-text text-muted h6">By: <a class="mr-2" href="{% url 'beavers_blog_user_posts' post.author.username %}">{{ post.author.username }}</a> on {{ post.date_posted }}</small>
            <!--
            {% for tag in post.tags.all %}
              <a href="{% url 'post-tags' tag.slug %}" class="mr-1 badge badge-pill badge-info">{{ tag }}</a>
            {% endfor %}
            -->
            <br>
            <p class="card-text">{{ post.content | safe | slice:":200" }}</p>
      </div>
    </article>
{% endfor %}
{% if is_paginated %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</article>
{% endif %}
{% endblock content %}