@font-face {
    font-family: 'Product Sans Regular' !important;
    font-style: normal !important;
    font-weight: normal !important;
    src: local('Product Sans Regular'),
      url('fonts/ProductSans-Regular.woff') format('woff');
}

@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

html, body {
    background-color: #7414dc;
    margin: 0;
    padding: 0;
}

body.login {
    background: #7414dc;
    padding: 100px 30px 30px 30px;
}

body.login #content {
    background: #343a40;
    padding: 30px;
}

body.login .submit-row input[type="submit"] {
    font-size: 12px;
    font-weight: lighter;
    background-color: #7414dc;
    color: #ffffff;
    text-transform: uppercase;
}

body.login .submit-row input[type="submit"]:hover, body.login .submit-row input[type="submit"]:focus {
    background-color: #7414dc;
    color: #ffffff;
}

body.login .submit-row input[type="submit"]:active {
    background-color: #7414dc;
    color: #ffffff;
}

body {
    height: 100%;
    background: #7414dc;
    color: #ffffff;
    font-family: "Product Sans Regular", sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body.menu-pinned #branding-pin {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#branding h1, #branding h2 {
    display: inline-block;
    padding: 0 10px;
    margin: 0;
    text-transform: uppercase;
    vertical-align: middle;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ffffff;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #ffffff;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #ffffff;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #ffffff;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #ffffff;
}

::placeholder { /* Most modern browsers support this now. */
   color: #ffffff;
}

.changeform-navigation-button, .changeform-navigation-button:visited, .changeform-navigation-button:hover {
    width: 120px;
    color: #ffffff;
    background-color: #343a40;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: lowercase;
}

.changeform-navigation-button-label {
    display: block;
    opacity: 0.5;
    transition: opacity .3s;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: lowercase;
}

.segmented-button.disabled {
    background-color: #616161 !important;
    color: #6f7e95;
    opacity: 0.5;
}

.user-tools ul li.user-tools-link a, .user-tools ul li.user-tools-link a:visited, .user-tools ul li.user-tools-link a:hover {
    display: block;
    line-height: 30px;
    padding: 0 14px;
    color: #ffffff;
    text-decoration: none;
    background-color: #343a40;
}

.user-tools ul li.user-tools-contrast-block {
    display: none;
    padding: 8px 14px;
    background: #343a40;
    color: #ffffff;
    white-space: normal;
}

.user-tools-link:last-child {
    border-radius: 0rem 0rem 0.28rem 0.28rem;
    margin-bottom: 0;
}

#branding-pin {
    position: absolute;
    top: 50%;
    right: 4px;
    margin-top: -11px;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

a, a:visited, a:hover, a:focus {
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
}

#branding {
    display: none;
    background-color: #343a40;
    color: #ffffff;
    padding: 14px 32px 14px 36px;
    text-align: center;
    position: relative;
    height: auto !important;
    min-height: 52px;
    box-sizing: border-box;
}

#branding a, #branding a:visited, #branding a:hover {
    color: #ffffff;
}

img[src$="admin/img/icon-no.gif"]+span, img[src$="admin/img/icon-no.svg"]+span {
    color: #ff0000;
}

img[src$="admin/img/icon-yes.gif"]+span, img[src$="admin/img/icon-yes.svg"]+span {
    font-weight: bold;
    color: #00ff00;
}

img[src$="admin/img/icon-unknown.gif"]+span, img[src$="admin/img/icon-unknown.svg"]+span {
    font-weight: bold;
    color: #d4d4d4;
}

span {
    color: #ffffff;
    text-transform: capitalize;
}

table {
    border-collapse: collapse;
    background: #ffffff;
    border-radius: 4px;
    overflow-x: auto;
    box-shadow: none;
    margin-bottom: 2px;
}

table thead th {
    background: #454d55;
    color: #fff;
    text-transform: uppercase;
    transition: background-color .1s;
}

td, th {
    padding: 8px;
    font-size: 13px;
    background-color: #343a40;
}

.paginator .label {
    font-size: 16px;
    padding: 8px 0;
    margin-top: -20px;
    color: #ffffff;
}

.button.transparent, input[type="submit"].transparent, input[type="button"].transparent, .object-tools a.transparent {
    background-color: #343a40;
}

.button, .button:visited, .button:hover, input[type="submit"], input[type="submit"]:visited, input[type="submit"]:hover, input[type="button"], input[type="button"]:visited, input[type="button"]:hover, .object-tools a, .object-tools a:visited, .object-tools a:hover {
    display: inline-block;
    background-color: #343a40;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    outline: 0;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    padding: 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: background .3s;
}

#changelist .actions .button, #changelist .actions .button:visited, #changelist .actions .button:hover {
    display: inline-block;
    background-color: #343a40;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    height: 32px;
    outline: 0;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    padding: 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: background .3s;
}

.changeform-tabs {
    margin: 0;
    padding: 0 0 0 16px;
    border-bottom: none;
    color: #ffffff;
    background-color: #454d55;
    border-radius: 4px 4px 0 0;
}

.changeform-tabs-item.selected a, .changeform-tabs-item.selected a:hover, .changeform-tabs-item.selected a:visited {
    color: #ffffff;
    border-color: #7414dc;
}

.changeform-tabs ~ .module.selected, .changeform-tabs ~ .inline-group.selected {
    background-color: #343a40;
    display: block !important;
}

input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="number"], textarea, select, .vTextField {
    border-radius: 4px;
    font-size: 13px;
    height: 32px;
    white-space: nowrap;
    outline: 0;
    box-sizing: border-box;
    margin: 0;
    background-color: #454d55;
    color: #ffffff;
    border: none;
    padding: 0 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: background .3s, box-shadow .3s, border .3s;
}

.button.default, input[type="submit"].default, input[type="button"].default, .object-tools a.default {
    font-weight: lighter;
    background-color: #343a40;
    color: #fff;
    text-transform: uppercase;
    margin: 0 8px 0 0;
    padding: 0 20px;
}

.submit-row a.deletelink, .submit-row a.deletelink:visited, .submit-row a.deletelink:hover {
    display: inline-block;
    background-color: #dc3545;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    height: 32px;
    line-height: 32px;
    outline: 0;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    padding: 0 20px;
    text-transform: uppercase;
    box-sizing: border-box;
    transition: background .3s, box-shadow .3s, border .3s;
}

.submit-row a.deletelink:active {
    background-color: #343a40;
    color: #ffffff;
}

.dashboard {
    background: #7414dc;
}

.dashboard-item-header {
    background-color: #343a40;
    border-radius: 0.28rem 0.28rem 0rem 0rem;
    padding: 0 10px 0 6px;
    padding: 0 0.7rem 0 0.4rem;
}

.dashboard-item-content {
    background: #454d55;
    border-radius: 0rem 0rem 0.28rem 0.28rem;
    box-shadow: none;
    box-shadow: none;
    overflow: hidden;
}

.dashboard-item-content ul:not(.inline) li {
    display: block;
    border-bottom: none;
    border-bottom: none;
    font-size: 13px;
    font-size: 0.92857rem;
    padding: 8px;
    padding: 0.57143rem;
}

.dashboard-item-content ul:not(.inline) li .dim {
    text-transform: none;
    font-size: 11px;
    font-size: 0.78571rem;
    color: #ffffff;
}

.dashboard-item:last-child {
    background-color: #7414dc;
    margin-bottom: 0;
}

.sidebar-section {
    padding: 20px 0;
    background-color: #454d55;
    border-bottom: 1px solid #454d55;
    transition: border-bottom-color 0.3s;
}

ul.sidebar-dependent {
    height: 32px;
    border: none;
    color: #ffffff;
    background-color: #343a40;
}

ul.sidebar-dependent.opened {
    color: #ffffff;
    background-color: #343a40;
}

.sidebar-right-arrow {
    color: #7414dc;
    font-size: 16px;
    font-weight: bold !important;
    transition: color .3s, opacity .3s;
}

.sidebar-link:hover .sidebar-right-arrow {
    color: #7414dc;
}

.sidebar-left-pin, .sidebar-left-pin:visited, .sidebar-left-pin:hover, .sidebar-left-unpin, .sidebar-left-unpin:visited, .sidebar-left-unpin:hover {
    display: inline-block;
    position: absolute;
    top: 1px;
    top: 0.07143rem;
    font-size: 14px;
    font-size: 1rem;
    color: #7414dc;
    transition: color .3s;
}

.sidebar-wrapper {
    background-color: #343a40;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.sidebar-popup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    color: #ffffff;
    background-color: #343a40;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.sidebar-title {
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 14px 0 20px;
    margin-bottom: 10px;
    transition: color .3s;
}

.sidebar-link-label {
    font-size: 16px;
    display: block;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar-popup-list-item a, .sidebar-popup-list-item a:visited, .sidebar-popup-list-item a:hover {
    color: #ffffff;
    padding: 8px 20px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidebar-popup-list-item.selected a {
    background-color: #454d55;
    color: #ffffff;
}

.sidebar-popup-search {
    background-color: #454d55;
    color: #ffffff;
    width: 100%;
    height: 32px;
    text-indent: 20px;
    border: 0;
    font-size: 13px;
    outline: 0;
    padding: 0;
    margin: 0 0 12px 0;
    border-radius: 0;
}

.select2-container--jet .select2-selection .select2-selection__rendered {
    background-color: #454d55;
    padding-right: 70px;
    color: #ffffff;
    line-height: 32px;
    font-size: 13px;
    width: 14em;
    text-transform: capitalize;
    border-radius: 0.28rem 0.28rem 0.28rem 0.28rem;
}

.select2-container--jet .select2-results__option {
    font-size: 13px;
    text-transform: capitalize !important;
    background-color: #454d55;
    color: #ffffff;
}

.select2-container--jet .select2-results__option--highlighted[aria-selected] {
    background-color: #454d55;
    color: #ffffff;
}

.select2-container--jet .select2-results__option[aria-selected=true] {
    color: #ffffff;
}

.select2-container--jet .select2-results__option .select2-results__option {
    background-color: #454d55;
    color: #ffffff;
    padding-left: 1em;
}

.select2-container--jet .select2-search--dropdown {
    padding: 0;
    background-color: #7414dc;
}

.select2-container--jet .select2-search--dropdown .select2-search__field {
    outline: 0;
    border: 0;
    background-color: #343a40;
    color: #ffffff;
    height: 32px;
    height: 2.28571rem;
    -webkit-appearance: textfield;
    appearance: textfield;
    box-shadow: none;
    border-radius: 0rem 0.28rem 0rem 0.28rem;
}

.select2-container--jet .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
    padding: 0.42857rem;
    background-color: #343a40;
    color: #ffffff;
}

.select2-container--jet .select2-selection--single .select2-selection__arrow b:before {
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    padding-right: 4px;
    content: "\f107";
    line-height: 32px;
}

.select2-container--jet .select2-selection {
    background-color: #343a40;
    border: none;
    border-radius: 0.28rem 0.28rem 0.28rem 0.28rem;
    outline: 0;
}

.select2-container--jet .select2-selection--multiple .select2-selection__rendered li {
    list-style-type: revert;
    background-color: #454d55;
    color: #ffffff;
}

.select2-container--jet .select2-selection--multiple .select2-selection__choice__remove {
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}

.select2-container .select2-search--inline {
    border-radius: 0.28rem 0.28rem 0.28rem 0.28rem;
    float: left;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 27px;
    width: 190px;
}

.select2-container--jet .select2-selection--multiple {
    background-color: #454d55 !important;
    border: none;
    cursor: text;
    height: auto;
    min-height: 32px;
    width: 18.6em;
}

.select2-container--jet .select2-buttons {
    background-color: #343a40;
    text-align: left;
    padding: 6px;
}

.select2-container--jet .select2-buttons-button, .select2-container--jet .select2-buttons-button:visited, .select2-container--jet .select2-buttons-button:hover {
    color: #ffffff;
    margin-left: 10px;
}

input[type="checkbox"] + label::before {
    font-family: jet-icons;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    color: #7414dc;
    font-size: 0.85714rem;
    letter-spacing: 0.35714rem;
    font-variant: normal;
}

form .aligned p.help:last-child {
    color: #ffffff;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: bold;
}

form .aligned p.help {
    clear: left;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}

fieldset.module {
    background-color: #343a40;
    border-radius: 4px;
    padding: 14px;
    border: 0;
}

.help, p.help, form p.help {
    padding-top: 10px;
    font-size: 14px;
}

div.breadcrumbs a, div.breadcrumbs a:visited {
    color: #ffffff;
}

div.breadcrumbs.initialized {
    color: #ffffff;
    visibility: inherit;
}

.breadcrumbs-separator {
    color: #ffffff;
    margin: 0 6px 0 6px;
    font-weight: bold !important;
    font-size: 15px;
    vertical-align: middle;
}

#toolbar form #searchbar {
    background-color: #343a40;
    width: 180px !important;
    margin-bottom: 5px;
    margin-right: 2px;
    vertical-align: top;
}

#toolbar form input[type="submit"], #toolbar form input[type="submit"]:visited, #toolbar form input[type="submit"]:hover {
    background-color: #454d55;
    color: #ffffff;
    border: none;
    font-size: 12px;
    font-weight: lighter;
    padding: 0 20px;
    text-transform: uppercase;
    vertical-align: middle;
    margin-bottom: 5px;
}

.changelist-footer {
    padding: 20px 0;
    background: #7414dc;
}

.vDateField-link span, .vTimeField-link span {
    width: 32px;
    height: 32px;
    line-height: 32px !important;
    background-color: #7414dc;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-radius: 0 4px 4px 0;
    padding-bottom: 0px;
    margin-top: 4px;
}

.related-popup-back, .related-popup-back:visited, .related-popup-back:hover {
    display: none;
    background: #7414dc;
    color: #ffffff;
    position: absolute;
    top: 20px;
    left: 250px;
    z-index: 5;
    width: 100px;
    padding: 14px 6px 14px 0;
    text-align: center;
    margin-left: -100px;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 6px 0 0 6px;
    transition: background-color .3s, color .3s;
}

.ui-widget-header {
    border: 0;
    background: #454d55;
    color: #FFFFFF;
    font-weight: bold;
}

.ui-widget.ui-widget-content, .ui-timepicker-table.ui-widget-content {
    background: #343a40;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
    border: none;
}

.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: 0.5em 1em;
    background: 0 0;
    overflow: auto;
    color: #FFFFFF;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    background-color: #454d55;
    margin-top: 0.5em;
    padding: 0.3em 1em 0.5em 0.4em;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: 0.5em 0.4em 0.5em 0;
    cursor: pointer;
    background-color: #7414dc;
}

.ui-button-text-only .ui-button-text {
    font-family: "Product Sans Regular", sans-serif;
    padding: 0.4em 1em;
    color: #FFFFFF;
}

.addlink::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro"; 
    font-weight: 900; 
    content: "\f055";
}

.changelink::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro"; 
    font-weight: 400; 
    content: "\f044";
}

.aligned .form-row input {
    font-family: "Product Sans Regular", sans-serif;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 4px;
}

.form-row img {
    vertical-align: middle;
    height: 15px;
    width: 15px;
}

.inline-related h3 {
    font-family: "Product Sans Regular", sans-serif;
    margin: 0;
    background: #454d55;
    font-weight: bold;
    color: #ffffff;
    padding: 20px 24px 0 24px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 12px;
}

.inline-related h3 .inline_label {
    font-family: "Product Sans Regular", sans-serif;
    display: inline-block;
    background: #7414dc;
    color: #ffffff;
    margin-right: 10px;
    margin-top: -4px;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    box-sizing: border-box;
    vertical-align: middle;
}

.inline-related h3 span.delete, .inline-related h3 .inline-deletelink {
    margin-left: 10px;
    display: inline-block;
    background: #dc3545;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
    white-space: nowrap;
}

form .aligned ul {
    background: #343a40;
    font-weight: bold;
    font-size: 16px;
    margin-left: 160px;
    padding-left: 10px;
}

.errornote {
    display: block;
    margin: 0 0 10px 0;
    border-radius: 6px;
    padding: 10px;
    background: #dc3545;
    color: #ffffff;
}

.delete-confirmation #content>ul:nth-of-type(2), .delete-confirmation #content>h1+p+ul {
    background: #454d55 !important;
    padding: 8px;
    border-bottom: none;
    font-size: 13px;
    list-style: none;   
}

ul.messagelist li.success {
    background: #198754;
    color: #ffffff;
}

ul.messagelist li.danger {
    background: #dc3545;
    color: #ffffff;
}

.delete-confirmation #content>h1+p+h2+ul {
    background: #DC3545;
    color: #FFFFFF;
    padding: 20px;
    list-style-type: none;
    margin: 0;
}

.delete-confirmation #content form input[type="submit"] {
    font-family: "Product Sans Regular", sans-serif;
    background-color: #DC3545;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: lighter;
    padding: 0 20px;
    text-transform: capitalize;
    vertical-align: middle;
    margin-bottom: 5px;
}

.user-tools ul li.user-tools-welcome-msg:before {
    font-family: "Font Awesome 6 Pro";
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    content: "\f107";
    color: #ffffff;
    font-size: 24px;
    vertical-align: middle;
    line-height: 30px;
    transition: color .3s;
    margin-left: 5px;
}

.icon-grid:before {
    padding-right: 4px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro"; 
    font-weight: 400; 
    content: "\f00a";
}

.icon-user::before {
    padding-right: 4px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro"; 
    font-weight: 400; 
    content: "\f007";
}

.icon-clock::before {
    padding-right: 4px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro"; 
    font-weight: 400; 
    content: "\f017";
}

.icon-calendar:before {
    padding-right: 4px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro"; 
    font-weight: 400; 
    content: "\f073";
}

.icon-cross::before {
    padding-right: 4px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro"; 
    font-weight: 400; 
    content: "\f057";
}

.icon-tick:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro"; 
    font-weight: 400; 
    content: "\f058";
}

.related-widget-wrapper-icon:before {
    font-family: "Font Awesome 6 Pro";
    font-weight: 400; 
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
}

.add-related .related-widget-wrapper-icon:before, .add-another .related-widget-wrapper-icon:before {
    content: "\f055" !important;
    padding-right: 7px;
    padding-left: 7px;
}

.change-related .related-widget-wrapper-icon:before {
    content: "\f013";
}

.deletelink:before {
    padding-right: 4px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro"; 
    font-weight: 400; 
    content: "\f057";
}

.icon-edit::before {
    padding-right: 8px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro"; 
    font-weight: 400; 
    content: "\f044";
}

.icon-data::before {
    font-size: 30px;
    padding-right: 4px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro";
    font-weight: 400;
    content: "\f015";
    color: #7414dc;
}

.icon-menu::before {
    padding-right: 4px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro"; 
    font-weight: 400; 
    content: "\f0c9";
}

.icon-pin::before {
    padding-right: 4px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro"; 
    font-weight: 400; 
    content: "\f08d";
    color: #7414dc;
}

.icon-star::before {
    padding-right: 4px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro"; 
    font-weight: 400; 
    content: "\f005";
}

.icon-arrow-up::before {
    padding-right: 4px;
    padding-bottom: 4px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro"; 
    font-weight: 200; 
    content: "\f106";
}

.icon-arrow-down::before {
    padding-right: 4px;
    padding-bottom: 4px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro"; 
    font-weight: 200; 
    content: "\f107";
}

.icon-arrow-right::before {
    padding-right: 4px;
    padding-bottom: 4px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro"; 
    font-weight: 400; 
    content: "\f105";
}

.icon-arrow-left::before {
    padding-right: 4px;
    padding-bottom: 4px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro"; 
    font-weight: 400; 
    content: "\f105";
}

.icon-open-external::before {
    padding-left: 2px;
    padding-right: 6px;
    padding-bottom: 4px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro"; 
    font-weight: 200; 
    content: "\f14c";
}

.sidebar-link-label .sidebar-link-icon {
    font-size: 25px;
    padding-right: 4px;
    padding-bottom: 4px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 6 Pro";
    font-weight: 200;
    content: "\f14c";
    color: #7414dc;
}